body{
  background-color: #EBF8FE;
}
.app{
  text-align: center;
  max-width: 1080px;
  margin:100px auto;
}
.input-group{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin:auto;
}
.input-group input{
  padding:15px;
}

.btn{
  background-color: #888CF0;
  color:#000000;
  margin-top: 20px;
  box-shadow: none;
  border:none;
  padding:15px;
  cursor: pointer;
  font-size: 20px;
}

.list-container{
  display: flex;
  width: 100%;
  padding:40px;
}
.list-container__right{
  flex:1;
  border:2px dotted #888CF0;
}
.list-container__left{
  flex:1;
  padding:10px;
}
.list-item{
  display:flex;
  align-items: center;
  background-color: #FFD2D2;
  padding:0px 20px;
  margin-top:15px;
  cursor:move;
  
}
.list-item i{
  margin-right:20px;
  font-size: 30px;
}
h3{
  font-size: 30px;
}
.app__navigation{
  display: flex;
  
}
.app__navigation >a{
  margin:10px;
  text-decoration: none;
  font-size:20px;
  color:#888CF0;
}